select.btn-mini {
    height: auto;
    line-height: 14px;
}

select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 9px;
}

.nopad {
    padding: 0;
}
.split, .gutter.gutter-horizontal {
    float: left;
    display:flex;
    height:100%;
    flex-direction:column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
}

body {height: 100%}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    height: 100%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

 .content {
     border: 1px solid #C0C0C0;
     box-shadow: inset 0 1px 2px #e4e4e4;
     background-color: #fff;
 }

 .gutter {
     background-color: #eee;
     background-repeat: no-repeat;
     background-position: 50%;
     position:sticky;
 }

span {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#preview {
    height:100%;
    width:100%;
    margin: 0; overflow: hidden
}

#pdiv {
    height:100%;
}

.placeholder {
    display: inline-block;
    vertical-align: middle;
}

.box {
    width: 100%; height:100%;
}

.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    overflow: visible; /* allow showing rounded ends in preview */
}

.custom-file {
    overflow: hidden;
}

#sample-gallery {
    overflow-x: auto;
    white-space: nowrap;
}

.fullheight {
    height: 100%;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    float: left;
}

.translucent {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

.input-group {
  align-self: flex-start;
}
